# Telegram
BOT_TOKEN=
ADMIN_TG_ID=

# PostgreSQL
DATABASE_URL=
DATABASE_URL_SYNC=

# Redis
REDIS_URL=

# Parser Behavior
CHECK_INTERVAL_MINUTES=
REQUEST_DELAY_MIN=
REQUEST_DELAY_MAX=
MAX_RETRIES=

# Environment
DEBUG=